body{
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 15px;
    margin: 100px;
    padding: 100px;
}

form{
    margin-right: 100px;
}
.header{
    display: flex;
    justify-content: center;
}

.h1-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.input-int{
    padding: 10px;
    margin: 10px;
    width: 220px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.p-int-input{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 20px;
}

.input-btn-submit{
    display: flex;
    padding: 10px;
    width: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 9%;
}