body{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}

table{
    display: flex;
    padding: 15%;
    border-collapse: collapse;
    font-family: arial;
    font-size: 18px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 500px;
    height: 500px;
}


.header-h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

